
.task-container{
    width: 500px;
    min-height: 65px;
    background-color: rgb(147, 0, 118);
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1 solid rgb(134, 133, 133);
    cursor: pointer;
    
}

.task-text{
    font-family: 'Roboto', sans-serif;
    width: 1000px;
    height: 60px;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
    user-select: none;

}

.task-icon{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.task-container.complete{
background-color: rgb(96, 96, 96);
text-decoration: line-through;

}