*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body{
  color:white;
  background-color: #330031;
  font-family: sans-serif;
  margin-top: 40px;
}

h1{
  color:#330031;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;  text-align: center;
  margin: 20px 0;
}

.apptask{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.principaltask{
  width: 600px;
  min-height: 500px;
  background-color: #f9ffc0;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}